.userpic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--color-border);
    border-radius: 50%;
    overflow: hidden;
}

.userpic--with-change {
    cursor: pointer;

    &::before {
        content: "Поменять аватар";
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: var(--font-size-medium);
        font-weight: 600;
        color: #fff;
        border-radius: 50%;
        background: rgb(0 0 0 / 50%);
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    &:hover::before {
        opacity: 1;
    }
}

.userpic__input {
  display: none;
}

.userpic__label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.userpic__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userpic__placeholder {
    width: 33%;
    height: 33%;
    background: url("/src/images/icons/image-placeholder.svg") no-repeat center;
    background-size: contain;
}
