<div class="page chat-page">
  <main>
    <div class="container chat-page__container">
      {{#ifEquals mode "ALL"}}
        {{{list}}}
        {{{chat}}}
      {{/ifEquals}}
      {{#ifEquals mode "CHAT_LIST"}}
        {{{list}}}
      {{/ifEquals}}
      {{#ifEquals mode "CHAT"}}
        {{{chat}}}
      {{/ifEquals}}
    </div>
  </main>
</div>
