.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-small);
    color: var(--color-button-text);
    background-color: var(--color-primary);
    border-radius: 50%;
    padding: 8px;
}
