.profile-page__container {
    justify-content: center;
    align-items: center;
    width: 510px;
    margin: 0 auto;
    padding: 50px 30px 30px 30px;
}

.profile-page__data-table {
    width: 100%;
    margin-bottom: 50px;

    th {
        text-align: left;
    }

    td {
        text-align: right;
    }
}

.profile-page__links-table {
    width: 100%;

    td {
        text-align: left;
    }
}

.profile-page__userpic {
    margin-bottom: 90px;
}

.profile-page__quit-button {
    color: var(--color-accent);
}
