<div class="page server-error-page">
  <div class="server-error-page__container">
    <h1 class="page-title server-error-page__title">500</h1>
    <strong class="server-error-page__message">Мы уже фиксим</strong>
    <a href="#">Назад к чатам</a>
  </div>
</div>