<div class="page server-error-page">
  <main>
    <div class="container server-error-page__container">
      <h1 class="page-title server-error-page__title">500</h1>
      <strong class="server-error-page__message">Мы уже фиксим</strong>
      {{{link}}}
    </div>
  </main>
  {{{footer}}}
</div>
