<div class="page registration-page">
  <main>
    <div class="container registration-page__container">
      <h1 class="page-title registration-page__title">Регистрация</h1>
      <form class="registration-form registration-page__form">
        {{> Input id="email-input" name="email" type="text" label="Почта"}}
        {{> Input id="username-input" name="login" type="text" label="Логин"}}
        {{> Input id="firstname-input" name="first_name" type="text" label="Имя"}}
        {{> Input id="surname-input" name="second_name" type="text" label="Фамилия"}}
        {{> Input id="phone-input" name="phone" type="text" label="Телефон"}}
        {{> Input id="password-input" name="password" type="password" label="Пароль"}}
        {{> Input id="password-confirmation-input" name="password" type="password" label="Пароль (еще раз)"}}
        {{> Button type="submit" text="Авторизоваться" class="registration-form__submit-button" }}
      </form>
      <a href="#" class="registration-page__login-link">Войти</a>
    </div>
  </main>
  {{> TempFooter }}
</div>
