<aside class="back-button {{class}}">
  <button class="back-button__button">
    {{> Badge size="24" content="<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 12'>
          <path fill='white' d='M13 6.8H2V5.2h11z'/>
          <path stroke='white' stroke-width='1.6' d='M6 11 2 6l4-5'/>
        </svg>" }}
  </button>
</aside>