<div class="page change-password-page">
  <div class="container change-password-page__container">
    {{> Userpic size="130" class="change-password-page__userpic" alt="Аватар пользователя" withChange=true }}
    <form action="#" class="change-password-page__form change-password-form">
      <table class="change-password-page__table">
        <tr>
          <th><label for="old-password-input">Старый пароль</label></th>
          <td>
            <input id="old-password-input" name="old-password" type="password" value="sdfsdgdf">
          </td>
        </tr>
        <tr>
          <th><label for="new-password-input">Новый пароль</label></th>
          <td>
            <input id="new-password-input" name="new-password" type="password" value="asdfasdf">
          </td>
        </tr>
        <tr>
          <th><label for="password-confirmation-input">Повторите новый пароль</label></th>
          <td>
            <input id="password-confirmation-input" name="password-confirmation" type="password" value="asdfasdf">
          </td>
        </tr>
      </table>

      {{> Button text="Сохранить" class="change-password-form__submit-button" }}
    </form>

    {{> BackButton }}
  </div>
  {{> TempFooter }}
</div>
