.registration-page__title {
    margin-bottom: 40px;
}

.registration-page__container {
    justify-content: center;
    width: 340px;
    margin: 0 auto;
    padding: 50px 30px 30px;
}

.registration-page__form {
    margin-bottom: 14px;
}

.registration-page__login-link {
    align-self: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.registration-form__submit-button {
    margin-top: 48px;
}
