<div class="page registration-page">
  <main>
    <div class="container registration-page__container">
      <h1 class="page-title registration-page__title">Регистрация</h1>
      {{{form}}}
      {{{link}}}
    </div>
  </main>
  {{{footer}}}
</div>
