<footer class="temp-footer">
  <nav>
    <ul>
      <li><a href="#" id="login-link">Логин</a></li>
      <li><a href="#" id="registration-link">Регистрация</a></li>
      <li><a href="#" id="chat-list-link">Список чатов</a></li>
      <li><a href="#" id="chat-link">Чат</a></li>
      <li><a href="#" id="profile-link">Профиль</a></li>
      <li><a href="#" id="edit-profile-link">Редактирование профиля</a></li>
      <li><a href="#" id="change-password-link">Изменение пароля</a></li>
      <li><a href="#" id="404-link">404</a></li>
      <li><a href="#" id="500-link">500</a></li>
    </ul>
  </nav>
</footer>
