<div class="page login-page">
  <main>
    <div class="container login-page__container">
      <h1 class="page-title login-page__title">Вход</h1>
      {{{loginForm}}}
<!--      <a href="#" class="login-page__registration-link">Нет аккаунта?</a>-->
      {{{link}}}
    </div>
  </main>
  {{{footer}}}
</div>

