<div class="page edit-profile-page">
  <main>
    <div class="container edit-profile-page__container">
      {{{userpic}}}
      {{{form}}}
      {{{backButton}}}
    </div>
  </main>
  {{{footer}}}
</div>
