<div class="page change-password-page">
  <main>
    <div class="container change-password-page__container">
      {{{userpic}}}
<!--      <form action="#" class="change-password-page__form change-password-form">-->
<!--        <table class="change-password-page__table">-->
<!--          <tr>-->
<!--            <th><label for="old-password-input">Старый пароль</label></th>-->
<!--            <td>-->
<!--              <input id="old-password-input" name="oldPassword" type="password" value="sdfsdgdf">-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th><label for="new-password-input">Новый пароль</label></th>-->
<!--            <td>-->
<!--              <input id="new-password-input" name="newPassword" type="password" value="asdfasdf">-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th><label for="password-confirmation-input">Повторите новый пароль</label></th>-->
<!--            <td>-->
<!--              <input id="password-confirmation-input" name="newPassword" type="password" value="asdfasdf">-->
<!--            </td>-->
<!--          </tr>-->
<!--        </table>-->

<!--      </form>-->

      {{{form}}}

      {{{backButton}}}
    </div>
  </main>
  {{{footer}}}
</div>
