<div class="page not-found-error-page">
  <div class="not-found-error-page__container">
    <h1 class="page-title not-found-error-page__title">404</h1>
    <strong class="not-found-error-page__message">Не туда попали</strong>
    <a href="#">Назад к чатам</a>
  </div>
</div>