@import "./styles/global.css";
@import "./styles/components.css";
@import "./styles/pages.css";

.edit-profile-page__container,
.change-password-page__container {
    justify-content: center;
    align-items: center;
    width: 510px;
    margin: 0 auto;
    padding: 50px 30px 30px 30px;
}

.edit-profile-page__userpic,
.change-password-page__userpic {
    margin-bottom: 90px;
}

.edit-profile-page__form,
.change-password-page__form {
    width: 100%;
}

.edit-profile-page__table,
.change-password-page__table {
    width: 100%;
    margin-bottom: 50px;

    th {
        text-align: left;
    }

    td {
        text-align: right;
    }

    input {
        text-align: right;
    }
}

.edit-profile-form__submit-button,
.change-password-form__submit-button {
    width: 280px;
    margin: 0 auto;
}
