@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Inter";
    font-display: swap;
    src: url("../static/fonts/inter-medium.woff2") format("woff2"),
    url("../static/fonts/inter-medium.woff2") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "Inter";
    font-display: swap;
    src: url("../static/fonts/inter-semibold.woff2") format("woff2"),
    url("../static/fonts/inter-semibold.woff2") format("woff");
}

:root {
    --color-primary: #3369f3;
    --color-primary-hover: #2858d6;
    --color-primary-active: #1e4bb3;
    --color-primary-disabled: #a3b7f3;
    --color-primary-text: #ffffff;
    --color-primary-text-disabled: #d0d7f3;
    --color-grey: #efefef;
    --color-text: #1e1e1e;
    --color-text-secondary: #999999;
    --color-button-text: #ffffff;
    --color-border: #eaeaea;
    --color-background: #ffffff;
    --color-error: #ff2f2f;
    --font-size-extra-small: 8px;
    --font-size-small: 11px;
    --font-size-base: 12px;
    --font-size-medium: 13px;
    --font-size-large: 20px;
    --font-family-default: "Inter", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family-default), sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-base);
    line-height: 1.25;
    color: var(--color-text);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    width: 100%;
    height: 100%;

    background-color: var(--color-background);
}

a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--color-primary-hover);
    }

    &:active {
        color: var(--color-primary-active);
    }
}

.button-component {
    width: 100%;
    padding: 12px 20px;
    color: var(--color-button-text);
    background-color: var(--color-primary);
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--color-primary-hover);
    }

    &:active {
        background-color: var(--color-primary-active);
    }

    &:disabled {
        color: var(--color-primary-text-disabled);
        background-color: var(--color-primary-disabled);
        cursor: not-allowed;
    }
}

.input-component__label {
    font-size: var(--font-size-medium);
    color: var(--color-text-secondary);
}

.input-component__input {
    width: 100%;
    padding: 5px 0;
    font-size: var(--font-size-medium);
    border: none;
    border-bottom: 1px solid var(--color-border);

    &:hover,
    &:focus {
        border-color: var(--color-primary);
        outline: none;
    }
}

.input-component__error {
    padding-top: 7px;
    font-size: var(--font-size-extra-small);
    color: var(--color-error);
}

.page {
    min-height: 100vh;
}

.page-title {
    margin: 0;
    font-size: var(--font-size-large);
    text-align: center;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page__title {
    margin-bottom: 40px;
}

.login-page__container {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 460px;
    margin: 0 auto;
    padding: 50px 30px 30px 30px;
}

.login-page__form {
    flex-grow: 1;
    margin-bottom: 14px;
}

.login-page__registration-link {
    align-self: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.login-form__submit-button {
    margin-top: auto;
}

.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-page__title {
    margin-bottom: 40px;
}

.registration-page__container {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin: 0 auto;
    padding: 50px 30px 30px 30px;
}

.registration-page__form {
    flex-grow: 1;
    margin-bottom: 14px;
}

.registration-page__login-link {
    align-self: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.registration-form__submit-button {
    margin-top: auto;
}


